---
layout: master
title: Blog Index
---
<div id="blog">
    <header>
        <h1>The Adamant Language Blog</h1>
    </header>
    {% for post in paginator.posts %}
		{% include embedded-post.html %}
	{% endfor %}
	<div class="page-nav clearfix">
		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}/" class="older">&laquo; Older</a>
		{% endif %}
		{% if paginator.previous_page == 1 %}
			<a href="/blog/" class="newer">Newer »</a>
		{% elsif paginator.previous_page %}
			<a href="{{ paginator.previous_page_path }}/" class="newer">Newer &raquo;</a>
		{% endif %}
	</div>
</div>
