<header class="site-header">
    <ul class="row">
        <li class="col-xs-12 col-md-2"><a href="https://adamant-lang.org" class="internal"><img class="img-responsive" src="https://adamant-lang.org/images/logo.svg" width=128 alt="Adamant Logo"></a></li>
        <li class="col-xs-12 col-md-10">
            <ul class="menu">
                <li><h2><a href="https://adamant-lang.org/documentation" class="internal">Documentation</a></h2></li>
                <li class="active"><h2><a href="/" class="internal">Blog</a></h2></li>
                <li><h2><a href="https://adamant-lang.org/code" class="internal">Code</a></h2></li>
            </ul>
        </li>
    </ul>
</header>
<header class="blog-header">
    <hr>
    <ul class="row">
        <li class="col-xs-12 col-md-12">
            <ul class="menu">
                <li><h2><a href="/" class="internal">Home</a></h2></li>
                <li><h2><a href="/topics/" class="internal">Topics</a></h2></li>
                <li><h2><a href="/archive/" class="internal">Archive</a></h2></li>
            </ul>
        </li>
    </ul>
</header>
