---
layout: page
title: "Topics"
sitemap:
  ignore: true
---
{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] | replace: ' ', '_' }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}
<div id="topics">
	<h1>Topics</h1>
	<ul>
		{% for escapedTag in sortedtags %}
			{% assign tag = escapedTag | replace: '_', ' ' %}
			{% assign tagSlug = tag | downcase | replace: ' ', '-' | replace: '.', '-' %}
			<li><a href="/topics/{{tagSlug}}/" class="internal">{{tag}}</a> <span class="count">({{site.tags[tag].size}})</span></li>
		{% endfor %}
	</ul>
</div>
