---
layout: page
---
{% assign tagSlug = page.topic | replace: ' ', '-' | downcase | replace: '.', '-' %}
<section id="topic-{{tagSlug}}" class="blog-topic">
	{% if page.topic-title != null %}
	<h1>Topic: {{page.topic-title}}</h1>
	{% else %}
	<h1>Topic: {{page.topic}}</h1>
	{% endif %}
{% for post in site.tags[page.topic] %}
	{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
	{% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
	{% capture this_month_num %}{{ post.date | date: "%m" }}{% endcapture %}
	{% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
	{% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}
	{% capture next_month_num %}{{ post.previous.date | date: "%m" }}{% endcapture %}

	{% if forloop.first %}
		<section class="month">
			<h2>{{this_month}} {{this_year}}</h2>
			<ul>
	{% endif %}

				<li><a href="{{post.url}}" class="internal">{{post.title}}</a></li>

	{% if forloop.last %}
			</ul>
		</section>
	{% elsif this_year != next_year or this_month != next_month %}
			</ul>
		</section>
		<section class="month">
			<h2>{{next_month}} {{next_year}}</h2>
			<ul>
	{% endif %}
{% endfor %}
</section>
